body {
  margin: 0;
  font-family: 'Comic Sans MS', cursive;
  background: linear-gradient(#ffd6e8, #ffeaf4);
  color: #ff4f9a;
  text-align: center;
}

.page {
  display: none;
  padding: 50px 20px;
}

.page.active {
  display: block;
}

.card {
  background: white;
  border-radius: 30px;
  padding: 35px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 26px;
}

button {
  background: #ff7eb9;
  border: none;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #ff4f9a;
}

textarea {
  width: 80%;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #ff7eb9;
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
}

.emoji span {
  font-size: 40px;
  margin: 15px;
  cursor: pointer;
}

.decor {
  font-size: 40px;
  margin-top: 20px;
}
